.single-product{
    background: #fff;
    .header-about{
        flex-wrap: wrap;
        margin-bottom: 0 !important;
    }
    .page-details{
        .details-section{
            display: flex;
            justify-content: center;
            gap: 30px;
            .section-images{
                display: flex;
                flex-direction: column;
                gap: 12px;
                // width: 430px;
                flex-basis: 40%;
                .image-active{
                    align-items: center;
                    background: #fff;
                    border-radius: 12px;
                    display: flex;
                    width: 100%;
                    height: 360px;
                    justify-content: center;
                    text-align: center;
                    img{
                        border-radius: 10px;
                        cursor: pointer;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .gallery{
                    align-items: center;
                    display: flex;
                    gap: 12px;
                    justify-content: center;
                    width: 100%;
                    flex-wrap: wrap;
                    .img-single{
                        align-items: center;
                        background: #fff;
                        border-radius: 6px;
                        display: flex;
                        height: 100px;
                        justify-content: center;
                        padding: 15px;
                        transition: .3s;
                        width: 100px;
                        img{
                            border-radius: 10px;
                            cursor: pointer;
                            height: 70px;
                            object-fit: cover;
                            transition: .3s;
                            width: 80px;
                            transition: .3s ease;
                        }
                    }
                    .active-img{
                        border: 3px solid #ab7a5f;
                    }
                    }
            }
            .section-content{
                flex-basis: 60%;
                hr{
                    width: 100%;
                    height: 1px;
                    background: #ab7a5f;
                    margin: 0 0 10px;
                    border: none;
                    outline: none;
                    opacity: 0.5;
                }
                .title-details{
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: #102a42;
                    letter-spacing: .1rem;
                    text-transform: capitalize;
                    line-height: 1.5;
                    margin: 0px 0 10px;
                    text-align: start;
                }
                .rating{
                    display: flex;
                    align-items: start;
                    justify-content: start;
                    gap: 0.5rem;
                    margin: 0px 0 10px;
                }
                .price{
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: #ab7a5f;
                    letter-spacing: .1rem;
                    line-height: 1.25;
                    margin: 0px 0 10px;
                    text-align: start;
                }
                .description{
                    font-size: 1rem;
                    font-weight: 500;
                    color: #102a42;
                    letter-spacing: .1rem;
                    line-height: 1.25;
                    text-transform: capitalize;
                    text-align: start;
                    line-height: 1.5;
                    margin: 0px 0 10px;
                }
                .info{
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    gap: 1rem;
                    padding: 10px 0px;
                    margin-bottom: 10px;
                    .title{
                        font-size: 1rem;
                        font-weight: 600;
                        color: #102a42;
                        letter-spacing: .1rem;
                        text-transform: capitalize;
                        line-height: 1.25;
                        text-align: start;
                        line-height: 1.5;
                    }
                    .text{
                        font-size: 1rem;
                        font-weight: 400;
                        color: #102a42;
                        letter-spacing: .1rem;
                        line-height: 1.25;
                        text-transform: capitalize;
                        text-align: start;
                    }
                }
            }
            .colors-container{
                display: flex;
                flex-direction: column;
                // align-items: center;
                justify-content: start;
                gap: 10px;
                margin-top: 20px;
                .colors{
                    display: flex;
                    justify-content: start;
                    align-items: start;
                    gap: 15px;
                    .title-color{
                        font-size: 1rem;
                        font-weight: 600;
                        color: #102a42;
                        letter-spacing: .1rem;
                    }
                    .color{
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        gap: 5px;
                        .color-box{
                            display: block;
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            cursor: pointer;
                            border: 1px solid #102a42;
                            transition: .3s ease;
                        }
                    }
                }
            }
            .btn-container{
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                .amount-btns{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    .amount-btn{
                        font-size: 1.5rem;
                        font-weight: 700;
                        color: #fff;
                        background: #102a42;
                        border-radius: 5px;
                        padding: 1px 10px;
                        letter-spacing: .1rem;
                        border: none;
                        cursor: pointer;
                        transition: .3s ease;
                        &:hover{
                            color: #ab7a5f;
                        }
                    }
                    .amount{
                        font-size: 1.5rem;
                        font-weight: 700;
                        color: #102a42;
                        letter-spacing: .1rem;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.checkmark{
    display: none;
}
.active-color{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 0.5rem;
    font-weight: 700;
}
.out-of-stock{
    position: relative;
    left: -10px;
    width: fit-content;
    color: #f44336;
    font-size: 15px;
    font-weight: 500;
    margin: 0 auto;
}
@media screen and (max-width: 800px){
    .single-product{
        .page-details{
            .details-section{
                flex-direction: column;
            }
        }
    }
    
}